services:
    sc-db:
        build: ./parser
        container_name: sc-db
        env_file:
            - .env
        volumes:
            - ./repo:/data
        networks:
            - sc-db
        restart: unless-stopped

    sync:
        build: ./sync
        container_name: sync
        env_file:
            - .env
        volumes:
            - ./repo/items:/repo/items
            - ./repo/merged:/repo/merged
            - ./.git:/repo/.git
        ports:
            - "3001:3001"
        networks:
            - sc-db

networks:
    sc-db:
        driver: bridge
